<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713133371133-00gk4cvl3udiappkm950lu0ubustdelp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713133371133-00gk4cvl3udiappkm950lu0ubustdelp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>713133371133-jh2n2kls0499ss5jrbvl2qc1o3sf68h3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBV-72h4Ra_kY3MzRo30nH0C3oQ6alJAnU</string>
	<key>GCM_SENDER_ID</key>
	<string>713133371133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.griddynamics.connectedapps</string>
	<key>PROJECT_ID</key>
	<string>gd-gcp-techlead-experiments</string>
	<key>STORAGE_BUCKET</key>
	<string>gd-gcp-techlead-experiments.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713133371133:ios:fcee82e121d0831d5dd894</string>
	<key>DATABASE_URL</key>
	<string>https://gd-gcp-techlead-experiments.firebaseio.com</string>
</dict>
</plist>